.container {
    grid-area: messages;
    position: relative;
}

.msg_history {
    display: flex;
    flex-direction: column-reverse;
}

img {
    max-width: 100%;
}

.inbox_msg {
    clear: both;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 100vh;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: var(--rz-background-secondary) none repeat scroll 0 0;
    border-radius: 8px;
    font-size: 0.9rem;
    margin: 0;
    color: var(--rz-primary-text);
    padding: 0.5rem;
    padding-left: 1rem;
    width: 100%;
}

.time_date {
    color: var(--rz-primary-text);
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 100%;
}

.incoming_msg {
    border-radius: 8px;
    font-size: 0.9rem;
    margin: 1rem 0 1rem 0;
    color: var(--rz-primary-text);
}

.sent_msg p {
    background: var(--rz-primary) none repeat scroll 0 0;
    border-radius: 8px;
    font-size: 0.9rem;
    margin: 0;
    color: var(--rz-secondary-text);
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    margin: 1rem 0 1rem 0;
}

.sent_msg {
    float: right;
    width: 46%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.msg_history {
    padding-right: 0.8rem;
}
