@inject IJSRuntime JSRuntime;

<div id="messages-inbox" class="inbox_msg">
    <div class="container">
        <div class="mesgs">
            <div class="msg_history">
                @if (_chatMessages.Any())
                {
                    @foreach (var dm in _chatMessages)
                    {
                        @if (dm.IsSentByTheLoggedInUser)
                        {
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                    <p>
                                        @dm.Message
                                    </p>
                                    <span class="time_date"> @dm.CreatedAt</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="incoming_msg">
                                <div class="incoming_msg_img"> <img src="uploaded-images/user-profiles/generic-user.png" alt="sunil"> </div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>
                                            @dm.Message
                                        </p>
                                        <span class="time_date"> @dm.CreatedAt</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                   @* <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="uploaded-images/user-profiles/generic-user.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    Test which is a new approach to have all
                                    solutions
                                </p>
                                <span class="time_date"> 11:01 AM | June 9</span>
                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>
                                Test which is a new approach to have all
                                solutions
                            </p>
                            <span class="time_date"> 11:01 AM | June 9</span>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="uploaded-images/user-profiles/generic-user.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Test, which is a new approach to have</p>
                                <span class="time_date"> 11:01 AM | Yesterday</span>
                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Apollo University, Delhi, India Test</p>
                            <span class="time_date"> 11:01 AM | Today</span>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="uploaded-images/user-profiles/generic-user.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Test, which is a new approach to have</p>
                                <span class="time_date"> 11:01 AM | Yesterday</span>
                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Apollo University, Delhi, India Test</p>
                            <span class="time_date"> 11:01 AM | Today</span>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="uploaded-images/user-profiles/generic-user.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Test, which is a new approach to have</p>
                                <span class="time_date"> 11:01 AM | Yesterday</span>
                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Apollo University, Delhi, India Test</p>
                            <span class="time_date"> 11:01 AM | Today</span>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="uploaded-images/user-profiles/generic-user.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    We work directly with our designers and suppliers,
                                    and sell direct to you, which means quality, exclusive
                                    products, at a price anyone can afford.
                                </p>
                                <span class="time_date"> 11:01 AM | Today</span>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="type_msg mt-3">
                <EditForm Model="_sendDirectMessageModel" OnValidSubmit="async () => { await SendMessage(); }">
                    <div class="d-flex flex-grow-1">
                        <div class="me-2 w-100">
                            <MatTextField Outlined="true" @bind-Value="_sendDirectMessageModel.Message"
                                          Style="width: 100%; height: 45px;" Label="Type a message" />
                        </div>
                        <div class="text-center">
                            <MatButton Raised="true" type="submit"
                                       Style="text-align: center; height: 43px">
                                <MatIcon Icon="send"/>
                            </MatButton>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code
{
    private async Task ScrollDown()
    {
        await JSRuntime.InvokeVoidAsync("scrollDown", "messages-inbox");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ScrollDown();
        }
    }
}
