@page "/"

<AuthorizeView>
    <Authorized>
        @{
            _userClaims = context.User.Claims.ToArray();
        }
        
        <div class="main-feed-page">
            <div class="container">
                <div class="text-center mt-3">
                    <ContactsHorizontalBar @ref="ContactsHorizontalBarComponent" />
                </div>
                
                @if (_areRecentContactsEmpty == false)
                {
                    <div class="screen-divider mt-3"></div>
                }

                <div class="text-center mt-3">
                    <MainPostsFeed @ref="MainPostsFeedComponent"/>
                </div>
            </div>

            <div class="right-side-panel left-side-shadow">
                <div class="profile-container shadow-sm">
                    <RadzenProfileMenu Style="background-color: var(--rz-background-primary); margin: 0; padding-right: 0;">
                        <Template>
                            <RadzenImage Path="uploaded-images/user-profiles/generic-user.png" Style="width: 3rem;" />
                        </Template>

                        <ChildContent>
                            <RadzenProfileMenuItem Path="MicrosoftIdentity/Account/SignOut" Icon="logout" Text="Logout"></RadzenProfileMenuItem>
                        </ChildContent>
                    </RadzenProfileMenu>

                    <div>
                        <p class="mb-0 mt-0">@_userDTO?.GivenName @_userDTO?.Surname</p>
                        <p class="mb-0 mt-0">@@@_userDTO?.DisplayName</p>
                    </div>
                </div>

                <div class="text-center mt-3 pb-3 px-2 shadow-sm">
                    <RadzenTextBox type="search" Placeholder="Search..." />
                </div>

                <div class="tags-container text-center mt-3">
                    <h2 class="fs-5">Preferred Tags</h2>
                    <RadzenStack Orientation="Orientation.Vertical" Gap="1rem" JustifyContent="JustifyContent.SpaceEvenly" AlignItems="AlignItems.Start">
                        @if (_userTags.Any())
                        {
                            foreach (var tag in _userTags)
                            {
                                <div class="px-3">
                                    <RadzenCheckBox @bind-Value="@testBool" Name="@($"Tag{tag.Id}")"></RadzenCheckBox>
                                    <RadzenLabel Text="@tag.Value" Component="@($"Tag{tag.Id}")" Style="margin-left: 0.5rem; vertical-align: middle;"/>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="px-3 mt-3">
                                <p>No favorite tags found. Go to your profile to customize your tags</p>
                            </div>
                        }

                    </RadzenStack>
                </div>

                <div class="text-center mt-4">
                    <RadzenButton>Search</RadzenButton>
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <NotLoggedInPostsSearchSidebar/>
    </NotAuthorized>
</AuthorizeView>