<div class="centered-element shadow-lg pb-4">
    <div class="text-center mt-3">
        <h1 class="fs-2">
            Sign in
        </h1>
    </div>

    <div class="text-center mt-3 px-4">
        <p>
            You must be signed in order to access features like
            posts filtering according to your preferred tags.
            Click the button below to sign in or create an account
            if you don't already have one!
        </p>
    </div>

    <div class="text-center">
        <a href="MicrosoftIdentity/Account/SignIn">
            <RadzenButton Text="Sign In"/>
        </a>
    </div>
</div>