@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="px-4 m-0 p-0">
            @Body
        </article>
    </main>
</div>
