.navbar-toggler {
    background-color: var(--rz-primary);
    color: var(--rz-secondary-text);
}

.top-row {
    height: 4.5rem;
}

a {
    color: var(--rz-primary-text);
    text-decoration: none;
}

.brand-title {
    font-size: 1.4rem;
    color: var(--rz-primary-text);
    cursor: pointer;
    text-decoration: none;
}

.brand-image {
    width: 3rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.right-side-shadow {
    box-shadow: -15px 10px 25px rgba(0,0,0,0.75);
    clip-path: inset(0px -15px 0px 0px);
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: var(--rz-primary-text-light);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: var(--rz-primary);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: var(--rz-primary);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 4.5rem);
        overflow-y: auto;
    }
}
