<div class="ps-3 top-row navbar navbar-dark shadow-sm">
    <div class="container-fluid">
        <div class="flex-fill">
            <a href="/">
                <div class="d-inline-flex align-items-center">
                    <img class="brand-image" src="favicon.png" alt="FlexHub_brand_icon"/>
                    <h1 class="brand-title ms-3 mt-2">FlexHub</h1>
                </div>
            </a>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <RadzenIcon Icon="menu"/>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass right-side-shadow nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <RadzenIcon Icon="home"/> 
                <p class="ms-2 mt-3">Main Feed</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <RadzenIcon Icon="contacts" /> 
                <p class="ms-2 mt-3">Contacts</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <RadzenIcon Icon="account_box" /> 
                <p class="ms-2 mt-3">My Profile</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-post">
                <RadzenIcon Icon="post_add" />
                <p class="ms-2 mt-3">Create Post</p>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
