:root {
    --rz-primary: hsl(198, 85%, 65%);
    --rz-primary-light: hsl(198, 85%, 85%);
    --rz-secondary: hsl(54, 85%, 65%);
    --rz-background-primary: hsl(0, 100%, 100%);
    --rz-background-secondary: hsl(0, 1%, 95%);
    --rz-primary-text: hsl(0, 0, 0);
    --rz-primary-text-light: hsl(0, 1%, 25%);
    --rz-secondary-text: hsl(0, 100%, 100%);
    --rz-success: hsl(122, 100%, 70%);
    --rz-warning: hsl(29, 100%, 70%);
    --rz-danger: hsl(360, 100%, 70%)
}
