.sidebar-container {
    grid-area: sidebar;
    position: sticky;
    top: 0;
    right: 0;
    display: grid;
    height: 100vh;
    grid-template-rows: 4.5rem auto auto;
    overflow: hidden;
}

.left-side-shadow {
    box-shadow: 15px 10px 25px rgba(0,0,0,0.75);
    clip-path: inset(0px 0px 0px -15px);
}

.profile-container {
    display: flex;
    height: 72px;
    align-items: center;
    align-content: center;
}

.tags-container {
    height: calc(100vh - 72px);
    overflow-y: auto;
}