@page "/contacts"
@using FlexHub.BlazorServer.RazorComponents.Contacts.Components

<AuthorizeView>
    <Authorized>
        @{
            _userClaims = context.User.Claims.ToArray();
        }

        <div class="contacts-page-container">
            <ChatComponent @ref="ChatComponent"/>
            <ContactsSidebarComponent @ref="ContactsSidebarComponent"/>
        </div>
    </Authorized>
    <NotAuthorized>
        <LoginPrompt/>
    </NotAuthorized>
</AuthorizeView>