@if (RecentContacts != null)
{
    <div class="contacts-container">

        @foreach (var contact in RecentContacts)
        {
            <div @key="contact.ObjectId" class="mx-2 text-center">
                <img src="uploaded-images/user-profiles/generic-user.png" alt="generic_user_profile_image" 
                     Style="width: 3rem;"/>
                <p class="contact-name">@contact.DisplayName</p>
            </div>
        }

    </div>
}