.post-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
}

.secondary-background-color {
    color: red;
}

.tags-container {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media (max-width: 950px) {
    .post-container {
        width: 90%;
    }
}