@page "/profile"
@using FlexHub.BlazorServer.RazorComponents.Profile.Components

<AuthorizeView>
    <Authorized>
        <div class="profile-page-container">
            <ProfileMainComponent />
            <TagsSidebarComponent />
        </div>
    </Authorized>
    <NotAuthorized>
        <LoginPrompt />
    </NotAuthorized>
</AuthorizeView>