.page-title-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--rz-primary);
    color: var(--rz-secondary-text);
    border-radius: 20px;
    max-width: 1000px;
}

.post-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--rz-background-primary);
    border-radius: 7px;
    max-width: 1000px;
}

.right-side-panel {
    position: sticky;
    top: 0;
    right: 0;
    width: 315px;
    height: 100vh;
    background-color: var(--rz-background-primary);
}

.page-container {
    display: flex;
    justify-content: space-between;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.left-side-shadow {
    box-shadow: 15px 10px 25px rgba(0,0,0,0.75);
    clip-path: inset(0px 0px 0px -15px);
}

.profile-container {
    display: flex;
    align-items: center;
    align-content: center;
    height: 10vh;
}

.tags-container {
    height: 87vh;
    overflow-y: auto;
}